.win {
  background: green;
}

.lost {
  background: red;
}

.draw {
  background: yellow;
}

body {
  background-color: #FF5733;
}

.mycolor {
  background-color: white;
  color: black;
  padding: 1rem;
  margin-top: 5rem;
}

h2 {
  margin: 1rem;
}

.mybuttonColor {
  background-color: #750040;
  font-size: 2rem;
  color: white;
}

.mybutton {
  margin: 1.5rem;
  padding: 1.5rem;
}

.bigger {
  font-size: 1.5rem;
}

.btnColor {
  color: #ccff00;
  background-color: black;
}

img {
  width: 50%;
  padding-left: 2rem;
  width: 50%;
}

/* On screens that are 600px or less, set the background color to olive */
@media only screen and (max-width: 576px) {
  .jumbotron h1 {
    font-size: 2.5rem;
  }

  form button {
    margin-top: 10px;
  }
}
