.win {
  background: green;
}

.lost {
  background: red;
}

.draw {
  background: yellow;
}


body{
  background-color: #FF5733 ;

}

.mycolor {
  background-color: white;
  color: black;
  padding: 1rem;
  margin-top: 5rem;

}

h2{
  margin: 2rem;
}

.mybuttonColor{
    background-color: #750040;
    font-size: 2rem;
      color: white;

}

.mybutton{
  margin: 1.5rem;
  padding: 1.5rem;
}

.bigger {
  font-size: 1.5rem;
}

.btnColor {
  color: #ccff00;
  background-color : black;
}
